<h4> You've made it to the homepage.</h4>
<p>To make an account, use your Github credentials by following the link in the navbar above.<br>
Upon successful login, you'll be taken to a simplified version of your Github profile page. </p>
